<div class="modal-body">
  <form (ngSubmit)="submit(form)" #form="ngForm">
    <div class="add-body">
      <label class="form-label">
        Task <i class="asterisk"></i>
        <input class="form-input" type="text" name="title" [(ngModel)]="model.title" required maxlength="100">
      </label>

      <label class="form-label">
        Due date
        <input class="form-input" type="date" name="dueDate" [attr.min]="minDueDate" [(ngModel)]="model.dueDate">
      </label>
    </div>
    <div class="flex-center">
      <button class="btn btn--secondary btn--fixed m-r-sm"
        type="button"
        (click)="closeModal()"
      >
        Cancel
      </button>
      <button class="btn btn--fixed"
        type="submit"
        [appButton]="submiting"
      >
        {{ editMode ? 'Update' : 'Add' }}
      </button>
    </div>
  </form>
</div>
