<div class="modal-body">
  <form (ngSubmit)="submit(form)" #form="ngForm">
    <div class="add-body">
      <label class="form-label required">
        Title <i class="asterisk"></i>
        <input class="form-input" type="text" name="title" [(ngModel)]="model.title" required>
      </label>

      <label class="form-label">
        Content (optional)
        <textarea class="form-input" rows="3" name="content" [(ngModel)]="model.content"></textarea>
      </label>
    </div>
    <div class="flex-center">
      <button class="btn btn--secondary btn--fixed m-r-sm"
        type="button"
        (click)="closeModal()"
        [disabled]="submiting"
      >
        Cancel
      </button>
      <button class="btn btn--fixed"
        type="submit"
        [disabled]="submiting"
      >
        Add
      </button>
    </div>
  </form>
</div>
