<div class="modal-body">
  <div class="add-body">
    <label class="label">
      Name (optional)
      <input class="input" type="text" #name>
    </label>

    <label class="label">
      Email (optional)
      <input class="input" type="text" #email>
    </label>

    <label class="label">
      Feedback
      <textarea class="input" [class.invalid]="formError" rows="3" #feedback></textarea>
    </label>
  </div>
  <div class="flex-center">
    <button type="button" class="btn btn--secondary" (click)="submit(name.value, email.value, feedback.value)" [disabled]="submiting">Submit</button>
    <button type="button" class="btn" (click)="submit(name.value, email.value, feedback.value)" [disabled]="submiting">Add</button>
  </div>
</div>
