@import 'settings/index';

.modal-body {
  padding-top: 50px;
  width: 500px;
}

.add-body {
  max-width: 360px;
  min-height: 70px;
  margin: 0 auto $size-xl;
}

.label {
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
}

.input {
  display: block;
  width: 100%;
  min-height: 35px;
  margin: 7px 0 0 0;
  padding: $size-xs $size-sm;
  border: 1px solid #d9e0f0;

  &.invalid {
    border-color: $color-red;
  }
}

// .btn {
//   width: 150px;
//   height: 45px;
//   background-color: $color-purple;
//   font-size: 16px;
// }
