<div class="modal-body">
  <form (ngSubmit)="submit()">
    <div class="delete-body">
      <div class="m-b-sm">
        Are you sure you want to delete this task?
      </div>
      <label class="checkbox m-none" *ngIf="stopAsking != null">
        <input type="checkbox" name="stop-asking" [(ngModel)]="stopAsking">
        <span class="text">
          Stop asking me next time.
        </span>
      </label>
    </div>
    <div class="flex-center">
      <button class="btn btn--secondary btn--fixed m-r-sm" type="button"
        (click)="closeModal()"
      >
        Cancel
      </button>
      <button class="btn btn--fixed btn--danger" type="submit"
        [appButton]="isDeleting"
      >
        Delete
      </button>
    </div>
  </form>
</div>
