.async-loading-div::after {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  background: url("/assets/images/icons/spinner.svg") no-repeat right/contain;
  animation: spin 2s infinite linear;
}
