.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  font-size: inherit;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  color: #ffffff;
  background-color: $color-theme;
  border: none;
  border-radius: 3px;
  transition: $transition-all;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: lighten($color-theme, 5%);
  }

  &--fixed {
    width: 120px;
    padding-left: 0;
    padding-right: 0;
  }

  &--secondary {
    color: $color-text;
    background-color: $color-gray-3;

    &:hover {
      background-color: lighten($color-gray-3, 5%);
    }
  }

  &--danger {
    color: #ffffff;
    background-color: $color-danger;

    &:hover {
      background-color: lighten($color-danger, 5%);
    }
  }

  &--icon {
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    border-radius: 50%;
  }

  &--red {
    background-color: $color-red;

    &:hover {
      background-color: lighten($color-red, 5%);
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.btn-loading {
  position: relative;

  &::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/assets/images/icons/spinner-white.svg") no-repeat right/contain;
    animation: spin 2s infinite linear;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
  }
}
