/* stylelint-disable */
.checkbox-button {
  display: inline-block;
  position: relative;
  margin: 7px $size-sm 0 0;
  cursor: pointer;

  .text {
    padding-left: 23px;
    display: inline-block;
    user-select: none;

    &::before,
    &::after {
      font-family: 'font-icon';
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      padding-left: 1px;
      font-weight: normal;
    }

    &::before {
      display: block;
      content: "\e927"; // icon-unchecked-box
      font-size: 15px;
      color: $color-text-sub;
    }

    &::after {
      display: none;
      content: "\e910"; // icon-checked-box
      font-size: 15px;
      color: $color-theme;
    }
  }

  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  input:checked ~ .text {
    &::before {
      display: none;
    }

    &::after {
      display: block;
    }
  }

  input:disabled ~ .text {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
