/* stylelint-disable */
.radio-button {
  display: inline-block;
  position: relative;
  margin: 7px $size-sm 0 0;
  cursor: pointer;

  .text {
    padding-left: $size-lg;

    &::before,
    &::after {
      font-family: 'font-icon';
      position: absolute;
      top: -2px;
      left: 0;
      width: 18px;
      height: 18px;
      padding-left: 1px;
      font-weight: normal;
    }

    &::before {
      display: block;
      content: "\e91d"; // icon-radio-unchecked
      font-size: 18px;
      color: $color-border;
    }

    &::after {
      display: none;
      content: "\e91c"; // icon-radio-checked
      font-size: 18px;
      color: $color-theme;
    }
  }

  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  input:checked ~ .text {
    &::before {
      display: none;
    }

    &::after {
      display: block;
    }
  }

  // TODO: remove
  &.disabled {
    color: $color-gray-3;
    cursor: not-allowed;

    .text::before {
      color: $color-gray-3;
    }
  }

  input:disabled ~ .text {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
