<div class="flex-center-between">
  <label class="checkbox m-none">
    <input type="checkbox" name="complete" [(ngModel)]="data.complete" (ngModelChange)="updateComplete()">
    <span class="text" [class.complete]="data.complete">
      <strong>{{ data.title }}</strong><br>
      <span class="duedate font-h5">{{ data.dueDate }}</span>
    </span>
  </label>
  <div class="flexbox">
    <a class="btn-action m-r-xxs" (click)="openEditModal()">
      <img src="/assets/images/icons/edit.svg" width="16px">
    </a>
    <a class="btn-action" (click)="openDeleteModal()">
      <img src="/assets/images/icons/trashbin.svg" width="17px">
    </a>
  </div>
</div>
