*,
*::before,
*::after {
  outline: none !important;
  box-sizing: border-box;
}

// Scrollbar
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 10px;
}

html {
  // https://mycolor.space/
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #dcdcdc, #e5e5e5, #ededed, #f6f6f6, #ffffff);
}

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  line-height: 1.4;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  color: inherit;
}

p {
  margin-top: 0;
}

b,
strong {
  font-weight: 600;
}

label[for] {
  cursor: pointer;
}

a {
  text-decoration: none;

  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
  }
}
