:host {
  display: block;
  position: relative;
  background: url('/assets/images/background.webp') center no-repeat;
  background-size: cover;
}

.date {
  font-size: 28px;
}

.content {
  position: relative;
  color: #ffffff;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.5);
}
