<div class="container">
  <!-- Header -->
  <app-today-widget class="today-widget"
    [taskCount]="todos?.length"
  ></app-today-widget>

  <!-- Todo list -->
  <div class="todo-list pos-r p-t-lg">
    <!-- Add button -->
    <button class="btn-add btn btn--icon btn--red" (click)="openAddModal()">+</button>

    <ng-container *ngIf="todos?.length">
      <app-todo-item class="todo-item"
        *ngFor="let todo of todos"
        [data]="todo"
        (deleted)="removeItem(todo)"
      ></app-todo-item>
    </ng-container>

    <!-- Empty case -->
    <button class="btn btn-empty-add" (click)="openAddModal()" *ngIf="todos?.length === 0">+ Add New</button>
  </div>
</div>
